<html>
    <head>
        <title>Add Task</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h1>Add Task</h1>   
            <table>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                    <tr><td>{{ form.name.label }}    </td><td>{{ form.name }}</td></tr> 
                    <tr><td>{{ form.desc.label }}    </td><td>{{ form.desc }}</td></tr> 
                    <tr><td>{{ form.est_time.label }}</td><td>{{ form.est_time }}</td></tr> 
                    <tr><td>{{ form.price_ph.label }}</td><td>{{ form.price_ph }}</td></tr> 
                    <tr><td>{{ form.submit }}</td></tr>
                </form>
            </table>
        {% endblock body %}
    </body>
</html>