<html>
    <head>
        <title>Add Material</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h2>Add Material</h2>
            <table>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <!-- {{ form.csrf_token }} -->
                    <tr><td>{{ form.name.label }}    </td><td>{{ form.name }}</td></tr> 
                    <tr><td>{{ form.desc.label }}    </td><td>{{ form.desc }}</td></tr> 
                    <tr><td>{{ form.supplier.label }}</td><td>{{ form.supplier }}</td></tr> 
                    <tr><td>{{ form.price.label }}   </td><td>{{ form.price }}</td></tr> 
                    <tr><td>{{ form.submit }}</td></tr>
                </form>
            </table>
        {% endblock body %}
    </body>
</html>