<html>
    <head>
        <title>Add Customer</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h1>Add Customer</h1>
            <form method="POST" action="">
                <table>
                    {{ form.hidden_tag() }}
                    <tr><td>{{ form.first_name.label }} </td><td>{{ form.first_name }}</td></tr>
                    <tr><td>{{ form.last_name.label }}  </td><td> {{ form.last_name }}</td></tr>
                    <tr><td>{{ form.email.label }}      </td><td>{{ form.email }}</td></tr>
                    <tr><td>{{ form.home_num.label }}   </td><td> {{ form.home_num }}</td></tr>
                    <tr><td>{{ form.mobile_num.label }} </td><td>{{ form.mobile_num }}</td></tr>
                    <tr><td>{{ form.address.label }}    </td><td>{{ form.address }}</td></tr>
                    <tr><td>{{ form.town_city.label }}  </td><td>{{ form.town_city }}</td></tr>
                    <tr><td>{{ form.county.label }}     </td><td> {{ form.county }}</td></tr>
                    <tr><td>{{ form.postcode.label }}   </td><td> {{ form.postcode }}</td></tr>
                    <tr><td>{{ form.submit }}</td></tr>
                </table>
            </form>
        {% endblock body %}
    </body>
</html>