<html>
    <head>
        <title>Edit Material</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h2>Edit Material</h2>
            <table>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <tr><td>Material ID: </td><td>{{ id }}</td></tr> 
                    <tr><td>{{ form.name.label }}</td>{ form.name }}<td></td></tr> {
                    <tr><td>{{ form.desc.label }}</td><td>{{ form.desc }}</td></tr> 
                    <tr><td>{{ form.supplier.label }}</td>{{ form.supplier }}<td></td></tr> 
                    <tr><td>{{ form.price.label }}</td><td>{{ form.price }}</td></tr> 
                    <tr><td>{{ form.submit }}</td></tr>
                </form>
            </table>
        {% endblock body %}
    </body>
</html>