<html>
    <head>
        <title>Edit Customer</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <br>
                Job ID: {{ id }}
                <br><br>
                {{ form.customer.label }}  {{ form.customer }}
                <br><br>
                {{ form.task.label }} {{ form.task }}
                <br><br>
                {{ form.start_date.label }} {{ form.start_date }}
                <br><br>
                {{ form.complete.label }} {{ form.complete }}
                <br><br>
                Total Price: {{ price }}
                <br><br>
                {{ form.submit }}
            </form>
        {% endblock body %}
    </body>
</html>