<html>
    <head>
        <title>Edit Material</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h1>Edit Material</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <br>
                Material ID: {{ id }}
                <br><br>
                {{ form.name.label }} {{ form.name }}
                <br><br>
                {{ form.desc.label }} {{ form.desc }}
                <br><br>
                {{ form.supplier.label }} {{ form.supplier }}
                <br><br>
                {{ form.price.label }} {{ form.price }}
                <br><br>
                {{ form.submit }}
            </form>
        {% endblock body %}
    </body>
</html>