<html>
    <head>
        <title>Edit Task</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <br>
                Task ID: {{ id }}
                <br><br>
                {{ form.name.label }} {{ form.name }}
                <br><br>
                {{ form.desc.label }} {{ form.desc }}
                <br><br>
                {{ form.est_time.label }} {{ form.est_time }}
                <br><br>
                {{ form.price_ph.label }} {{ form.price_ph }}
                <br><br>
                {{ form.submit }}
            </form>
        {% endblock body %}
    </body>
</html> 