<html>
    <body>
        <div style="display: inline-block;">
            <a href="{{ url_for('Index') }}">Home</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('AddCustomer') }}">Add Customer</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('AddTask') }}">Add Task</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('AddJob') }}">Add Job</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('AddMaterial') }}">Add Material</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('ShowCustomers') }}">Customers</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('ShowTasks') }}">Tasks</a>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('ShowMats') }}">Materials</a>
        </div>
        {% block body %}
        {% endblock body %}
    </body>
</html>