<html>
    <head>
        <title>Add Material</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <br>
                Job ID {{ job_id }}
                <br><br>
                {{ form.material_id.label }} {{ form.material_id }}
                <br><br>
                {{ form.quantity.label }} {{ form.quantity }}
                <br><br>
                {{ form.submit }}
            </form>
        {% endblock body %}
    </body>
</html>