<html>
    <head>
        <title>Show Materials Used - Job ID {{ job_id }}</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h2>Materials Used</h2>
            <form method="POST" action="">
                {% for i in matsused %} <!-- MaterialsUsed table -->
                    {% for j in mats %} <!-- Materials table -->
                        {% if i.material_id==j.material_id %}
                        <div style=" display: inline-block;padding: 5px;">
                            <table  style='border: 1px solid black;'>
                                <tr><td style='padding: 5px;'>Material ID: </td><td style='padding: 5px;'> {{ j.material_id }} </td></tr>
                                <tr><td style='padding: 5px;'>Name:        </td><td style='padding: 5px;'> {{ j.name }} </td></tr>
                                <tr><td style='padding: 5px;'>Description: </td><td style='padding: 5px;'> {{ j.desc }} </td></tr>
                                <tr><td style='padding: 5px;'>Price per:   </td><td style='padding: 5px;'> {{ "£%.2f"|format(j.price) }}</td></tr>
                                <tr><td style='padding: 5px;'>Quantity:    </td><td style='padding: 5px;'> {{ i.quantity }}</td></tr>
                                {% set total = j.price*i.quantity %}
                                <tr><td style='padding: 5px;'>Total Price: </td><td style='padding: 5px;'> {{ "£%.2f"|format(total) }}</td></tr>
                                <tr>
                                    <!-- <td style='padding: 5px;'>
                                        <form action="{{ url_for('ViewMaterial', id=i.material_id) }}" style="display: inline-block;">
                                                <input type="submit" value="View Material">
                                        </form>
                                    </td>     NOT WORKING FOR SOME REASON      -->  
                               
                                    <td style='padding: 5px;'>
                                        <form action="{{ url_for('Delete',tdb='MaterialsUsed',id=i.material_id) }}" style="display: inline-block;">
                                            <input type="submit" value="Delete">
                                        </form>
                                    </td>
                                    <td style='padding: 5px;'>
                                        <form action="{{ url_for('EditMatsUsed',id=i.id) }}" style="display: inline-block;">
                                            <input type="submit" value="Edit">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </form>
        {% endblock body %}
    </body>
</html>